<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Update</title>
</head>
<link rel="stylesheet" href="https://stackname.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<body>
<nav th:replace="layout :: navbar"></nav>
<form action="/update" method="post" th:object="${soccerPlayer}">
        <div class="container-fluid">
            <div class="form-group">
                <div class="mb-3">
                    <input aria-describedby="emailHelp" class="form-control" id="exampleInputEmail1" th:field="*{id}"
                           type="hidden">
                </div>
                <div class="mb-3">
                    <label class="form-label" for="exampleInputEmail1">Code: </label>
                    <input aria-describedby="emailHelp" class="form-control" id="exampleInputEmail2" th:field="*{code}"
                           type="text">
                </div>
                <div class="mb-3">
                    <label class="form-label" for="exampleInputEmail1">Name: </label>
                    <input aria-describedby="emailHelp" class="form-control" id="exampleInputEmail13" th:field="*{name}"
                           type="text">
                </div>
                <div class="mb-3">
                    <label class="form-label" for="exampleInputEmail1">Date of birth: </label>
                    <input aria-describedby="emailHelp" class="form-control" id="exampleInputEmail3"
                           th:field="*{dateOfBirth}"
                           type="text">
                </div>
                <div class="mb-3">
                    <label class="form-label" for="exampleInputEmail1">Experience: </label>
                    <input aria-describedby="emailHelp" class="form-control" id="exampleInputEmail4" th:field="*{experience}"
                           type="text">
                </div>
                <div class="mb-3">
                    <label class="form-label" for="exampleInputEmail1">Position: </label>
                    <input aria-describedby="emailHelp" class="form-control" id="exampleInputEmail5" th:field="*{position}"
                           type="text">
                </div>
                <div class="mb-3">
                    <label class="form-label" for="exampleInputEmail1">Avata Url: </label>
                    <input aria-describedby="emailHelp" class="form-control" id="exampleInputEmail6" th:field="*{urlImg}"
                           type="text">
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button class="btn btn-secondary" data-dismiss="modal" type="button">Close</button>
            <button class="btn btn-primary" type="submit">Save</button>
        </div>
</form>
<nav th:replace="layout :: footer"></nav>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
<script src="https://stackname.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
</body>
</html>



