<html xmlns:th="https://thymeleaf.org">
<head>
    <title>Create Soccer Player</title>
</head>
<link rel="stylesheet" href="https://stackname.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<style>
    img {
        width: 69px;
        height: 69px;
    }
</style>
<body>

<form th:action="/create" method="post" modelAttribute="soccerPlayer">
    <label>Code</label>
    <input name="code" type="text"/><br>
    <label>Name</label>
    <input name="name" type="text"/><br>
    <label>Date Of Birth</label>
    <input name="dateOfBirth" type="text"/><br>
    <label>Exp</label>
    <input name="exp" type="text"/><br>
    <label>Vị trí</label>
    <input name="location" type="text"/><br>
    <label>Avatar</label>
    <input name="image" type="text"/><br>
    <button type="submit">Add New</button>
</form>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
<script src="https://stackname.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
</body>
</html>
