
<html lang="">
<head>
    <title>Update</title>
</head>
<link rel="stylesheet" href="https://stackname.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<style>
    img {
        width: 69px;
        height: 69px;
    }
</style>
<body>
<form th:action="/update" method="post" th:object="${soccerPlayer}">
    <label>Code</label>
    <input th:field="*{code}" type="text"/><br>
    <label>Name</label>
    <input th:field="*{name}" type="text"/><br>
    <label>Date Of Birth</label>
    <input th:field="*{dateOfBirth}" type="text"/><br>
    <label>Exp</label>
    <input th:field="*{experience}" type="text"/><br>
    <label>Vị trí</label>
    <input th:field="*{position}" type="text"/><br>
    <label>Avatar</label>
    <input th:field="*{urlImg}" type="text"/><br>
    <button type="submit">Update</button>
</form>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
<script src="https://stackname.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
</body>
</html>
